<app-base-page title="Supplier" [showFooter]="true">
  <ng-template #header>
    <app-back-bar title="Proveedores"></app-back-bar>
    <div class="p-4">
      <div class="form-group-icon">
        <i-lucide name="search" class="icon text-gray-400" size="25"></i-lucide>
        <input
          type="text"
          [(ngModel)]="searchInput"
          (ngModelChange)="onSearchChange($event)"
          placeholder="Buscar proveedores..."
          class="form-input pr-12 py-2 w-full"
        />
        <button
          (click)="openFilterModal()"
          class="absolute right-5 top-1/2 transform -translate-y-1/2"
        >
          <i-lucide
            name="filter"
            class="w-4 h-4"
            [ngClass]="{
              'text-primary': activeFilters.length > 0,
              'text-gray-400': activeFilters.length === 0
            }"
          ></i-lucide>
        </button>
      </div>
      <div class="flex gap-2 mt-3">
        <button
          class="button button-sm"
          [ngClass]="{
            'button-primary': filters.status === null,
            'button-outline': filters.status !== null
          }"
          (click)="filterByStatus(null)"
        >
          Todos
        </button>
        <button
          class="button button-sm"
          [ngClass]="{
            'button-primary': filters.status === 'active',
            'button-outline': filters.status !== 'active'
          }"
          (click)="filterByStatus('active')"
        >
          Activos
        </button>
        <button
          class="button button-sm"
          [ngClass]="{
            'button-primary': filters.status === 'inactive',
            'button-outline': filters.status !== 'inactive'
          }"
          (click)="filterByStatus('inactive')"
        >
          Inactivos
        </button>
      </div>

      <div class="flex flex-wrap gap-2 mt-2" *ngIf="activeFilters.length > 0">
        <app-filter-chip
          *ngFor="let filter of activeFilters"
          [filter]="filter"
          (remove)="removeFilter($event)"
        ></app-filter-chip>
      </div>
    </div>
  </ng-template>

  <div slot="content" class="m-4 space-y-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
      <div
        *ngFor="let supplier of data"
        [routerLink]="['/home/inventory/suppliers', supplier.id]"
        class="p-4 rounded-lg border border-gray-300 cursor-pointer active:opacity-70 transition-all duration-200"
      >
        <h3 class="text-lg font-semibold mb-2">{{ supplier.name }}</h3>
        <p class="text-sm text-gray-600">{{ supplier.contactPerson }}</p>
        <div class="mt-2">
          <p class="text-sm text-gray-600 truncate">{{ supplier.email }}</p>
          <p class="text-sm text-gray-600 truncate">{{ supplier.phone }}</p>
        </div>
        <div class="mt-3">
          <span
            class="px-2 py-1 rounded-full text-xs font-medium"
            [ngClass]="{
              'bg-tertiary-container text-on-tertiary-container':
                supplier.isActive,
              'bg-error-container text-on-error-container': !supplier.isActive
            }"
          >
            {{ supplier.isActive ? "Activo" : "Inactivo" }}
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="loading" class="flex justify-center items-center py-12">
      <i-lucide
        name="loader"
        class="w-8 h-8 animate-spin text-primary-key"
      ></i-lucide>
    </div>

    <div *ngIf="hasMore && !loading" class="flex justify-center mt-6">
      <button
        (click)="loadMore()"
        class="button button-outline flex items-center"
        [disabled]="hasMore"
      >
        <i-lucide
          *ngIf="hasMore"
          name="loader"
          class="animate-spin mr-2 h-4 w-4"
        ></i-lucide>
        Cargar más
      </button>
    </div>

    <div
      *ngIf="!loading && data.length === 0"
      class="flex flex-col items-center justify-center py-12"
    >
      <i-lucide name="search-x" class="w-16 h-16 text-gray-300 mb-4"></i-lucide>
      <h3 class="text-lg font-medium text-gray-500 mb-1">
        No se encontraron proveedores
      </h3>
      <p class="text-sm text-gray-400">
        Intenta con otros filtros o crea un nuevo proveedor
      </p>
    </div>
  </div>

  <div slot="footer" class="p-4">
    <button
      [routerLink]="['/home/inventory/suppliers/create']"
      class="button button-primary w-full"
    >
      Crear proveedor
    </button>
  </div>
</app-base-page>
