<section class="w-full h-dvh bg-outline">
  <div class="sticky top-0 z-20 bg-outline">
    <app-back-bar
      title="Términos y Condiciones"
      textColor="text-black"
    ></app-back-bar>
  </div>
  <div class="w-full p-6">
    <div class="prose prose-sm max-w-none">
      <h2 class="text-2xl font-bold mb-4">Términos y Condiciones</h2>
      <p class="mb-4">
        Bienvenido a Smart Serve. Al acceder y utilizar nuestros servicios,
        aceptas cumplir con estos términos y condiciones.
      </p>
    </div>
  </div>
</section>
