<section class="w-full h-dvh bg-outline">
  <div class="sticky top-0 z-20 bg-outline">
    <app-back-bar
      title="Política de Privacidad"
      textColor="text-black"
    ></app-back-bar>
  </div>
  <div class="w-full p-6">
    <div class="prose prose-sm max-w-none">
      <h2 class="text-2xl font-bold mb-4">Política de Privacidad</h2>
      <p class="mb-4">
        En Smart Serve, nos tomamos muy en serio la privacidad de nuestros
        usuarios. Esta política describe cómo recopilamos y utilizamos tu
        información.
      </p>
    </div>
  </div>
</section>
