<nav class="bg-transparent w-full h-16">
  <ul
    class="flex justify-evenly items-center w-full h-full bg-on-background text-primary-key [&>li>a]:flex [&>li>a]:flex-col [&>li>a]:items-center [&>li>a]:justify-center [&>li>a]:rounded-xl [&>li>a]:hover:bg-primary [&>li>a]:hover:text-primary-container [&>li>a]:text-sm [&>li>a]:p-2"
  >
    <ng-container *ngFor="let item of navItems">
      <li>
        <a [routerLink]="item.fullPath" [routerLinkActive]="'active-link'">
          <lucide-icon strokeWidth="2" [name]="item.icon"></lucide-icon>
          <span>{{ item.name }}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
