<nav class="bg-transparent w-full h-16">
  <ul
    class="flex justify-evenly items-center w-full h-full bg-on-primary-container rounded-xl text-on-primary [&>li>a]:flex [&>li>a]:flex-col [&>li>a]:items-center [&>li>a]:justify-center [&>li>a]:rounded-xl [&>li>a]:hover:bg-primary [&>li>a]:hover:text-primary-container [&>li>a]:text-sm [&>li>a]:p-2"
  >
    <li>
      <a href="#">
        <lucide-icon strokeWidth="2" name="home"> </lucide-icon>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <lucide-icon strokeWidth="2" name="package"> </lucide-icon>
        <span>inventario</span>
      </a>
    </li>
    <li>
      <a href="#">
        <lucide-icon strokeWidth="2" name="settings"> </lucide-icon>
        <span>ajustes</span>
      </a>
    </li>
    <li>
      <a href="#">
        <lucide-icon strokeWidth="2" name="contact"> </lucide-icon>
        <span>contactos</span>
      </a>
    </li>
  </ul>
</nav>
