@theme {
  --dark-mode: attribute;
  --dark-mode-attribute: data-theme;
  --dark-mode-value: dark;
}

:root {
  --font-family-primary: "Lexend", sans-serif;
  --font-family-secondary: "Poppins", sans-serif;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --primary-key: #5b77ab;
  --secondary-key: #6f778b;
  --tertiary-key: #8a6e8e;
  --neutral-key: #76777d;
  --neutral-variant-key: #74777f;
  --background: #f9f9ff;
  --on-background: #1a1c20;
  --surface: #f9f9ff;
  --surface-dim: #d9d9e0;
  --surface-bright: #f9f9ff;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f3f3fa;
  --surface-container: #ededf4;
  --surface-container-high: #e7e8ee;
  --surface-container-highest: #e2e2e9;
  --on-surface: #1a1c20;
  --surface-variant: #e0e2ec;
  --on-surface-variant: #44474e;
  --inverse-surface: #2e3036;
  --inverse-on-surface: #f0f0f7;
  --outline: #72747d;
  --outline-variant: #c4c6d0;
  --shadow: #000000;
  --scrim: #000000;
  --surface-tint: #425e91;
  --primary: #425e91;
  --on-primary: #ffffff;
  --primary-container: #d7e3ff;
  --on-primary-container: #284677;
  --inverse-primary: #abc7ff;
  --secondary: #565e71;
  --on-secondary: #ffffff;
  --secondary-container: #dae2f9;
  --on-secondary-container: #3e4759;
  --tertiary: #876b8b;
  --on-tertiary: #ffffff;
  --tertiary-container: #876b8b;
  --on-tertiary-container: #ffffff;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #93000a;
  --primary-fixed: #d7e3ff;
  --primary-fixed-dim: #abc7ff;
  --on-primary-fixed: #001b3f;
  --on-primary-fixed-variant: #284677;
  --secondary-fixed: #dae2f9;
  --secondary-fixed-dim: #bec6dc;
  --on-secondary-fixed: #131c2b;
  --on-secondary-fixed-variant: #3e4759;
  --tertiary-fixed: #fad8fd;
  --tertiary-fixed-dim: #ddbce0;
  --on-tertiary-fixed: #29132e;
  --on-tertiary-fixed-variant: #573e5c;
}

[data-theme="dark"] {
  --primary-key: #977026;
  --secondary-key: #877456;
  --tertiary-key: #667e5a;
  --neutral-key: #7e766b;
  --neutral-variant-key: #807667;
  --background: #17130b;
  --on-background: #ece1d4;
  --surface: #17130b;
  --surface-dim: #17130b;
  --surface-bright: #3f382f;
  --surface-container-lowest: #120d07;
  --surface-container-low: #201b13;
  --surface-container: #241f17;
  --surface-container-high: #2f2921;
  --surface-container-highest: #3a342b;
  --on-surface: #ece1d4;
  --surface-variant: #4e4539;
  --on-surface-variant: #d2c5b4;
  --inverse-surface: #ece1d4;
  --inverse-on-surface: #353027;
  --outline: #9a8f80;
  --outline-variant: #4e4539;
  --shadow: #000000;
  --scrim: #000000;
  --surface-tint: #efbf6d;
  --primary: #efbf6d;
  --on-primary: #422c00;
  --primary-container: #5f4100;
  --on-primary-container: #ffdeaa;
  --inverse-primary: #7c580d;
  --secondary: #dbc3a1;
  --on-secondary: #3c2e16;
  --secondary-container: #57472c;
  --on-secondary-container: #f8dfbb;
  --tertiary: #b4cea5;
  --on-tertiary: #213619;
  --tertiary-container: #7f9872;
  --on-tertiary-container: #000000;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffdad6;
  --primary-fixed: #ffdeaa;
  --primary-fixed-dim: #efbf6d;
  --on-primary-fixed: #271900;
  --on-primary-fixed-variant: #5f4100;
  --secondary-fixed: #f8dfbb;
  --secondary-fixed-dim: #dbc3a1;
  --on-secondary-fixed: #261904;
  --on-secondary-fixed-variant: #54442a;
  --tertiary-fixed: #d0ebc0;
  --tertiary-fixed-dim: #b4cea5;
  --on-tertiary-fixed: #0c2006;
  --on-tertiary-fixed-variant: #374d2d;
}

@theme inline {
  --font-family-primary: var(--font-family-primary);
  --font-family-secondary: var(--font-family-secondary);
  --font-weight-thin: var(--font-weight-thin);
  --font-weight-light: var(--font-weight-light);
  --font-weight-regular: var(--font-weight-regular);
  --font-weight-medium: var(--font-weight-medium);
  --font-weight-semibold: var(--font-weight-semibold);
  --font-weight-bold: var(--font-weight-bold);
  --color-primary-key: var(--primary-key);
  --color-secondary-key: var(--secondary-key);
  --color-tertiary-key: var(--tertiary-key);
  --color-neutral-key: var(--neutral-key);
  --color-neutral-variant-key: var(--neutral-variant-key);
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-surface: var(--surface);
  --color-surface-dim: var(--surface-dim);
  --color-surface-bright: var(--surface-bright);
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-on-surface: var(--on-surface);
  --color-surface-variant: var(--surface-variant);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
  --color-shadow: var(--shadow);
  --color-scrim: var(--scrim);
  --color-surface-tint: var(--surface-tint);
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-inverse-primary: var(--inverse-primary);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);
  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);
  --color-primary-fixed: var(--primary-fixed);
  --color-primary-fixed-dim: var(--primary-fixed-dim);
  --color-on-primary-fixed: var(--on-primary-fixed);
  --color-on-primary-fixed-variant: var(--on-primary-fixed-variant);
  --color-secondary-fixed: var(--secondary-fixed);
  --color-secondary-fixed-dim: var(--secondary-fixed-dim);
  --color-on-secondary-fixed: var(--on-secondary-fixed);
  --color-on-secondary-fixed-variant: var(--on-secondary-fixed-variant);
  --color-tertiary-fixed: var(--tertiary-fixed);
  --color-tertiary-fixed-dim: var(--tertiary-fixed-dim);
  --color-on-tertiary-fixed: var(--on-tertiary-fixed);
  --color-on-tertiary-fixed-variant: var(--on-tertiary-fixed-variant);
}
