<div
  class="w-full min-h-screen bg-cover bg-center flex flex-col justify-end"
  style="background-image: url('bg.png')"
>
  <div class="bg-outline min-h-[75vh] p-6 relative">
    <div class="card h-42 bg-primary-key absolute -translate-y-1/2 inset-x-6">
      <div class="card-head">
        <div class="card-pin bg-red-400 text-sm">Bienvenido de vuelta</div>
      </div>
      <div class="card-body">
        <div class="card-title text-on-background">
          Administra tu negocio de forma simple y rápida
        </div>
      </div>
    </div>

    <form
      [formGroup]="loginForm"
      class="mt-18 py-12 flex flex-col h-full justify-end gap-6"
    >
      <div>
        <div class="form-group-icon">
          <lucide-icon
            class="icon text-on-background"
            name="mail"
          ></lucide-icon>
          <input
            formControlName="email"
            type="text"
            class="form-input w-full h-16"
            placeholder="Correo electrónico"
            [ngClass]="{
              'form-input-error':
                email?.invalid && (email?.touched || email?.dirty)
            }"
          />
        </div>

        <div
          *ngIf="email?.invalid && (email?.touched || email?.dirty)"
          class="form-error-message"
        >
          <p *ngIf="email?.errors?.['required']">
            El correo electrónico es requerido
          </p>
          <p *ngIf="email?.errors?.['email']">
            El correo electrónico no es válido
          </p>
        </div>
      </div>

      <div>
        <div class="form-group-icon">
          <lucide-icon
            class="icon text-on-background"
            name="lock"
          ></lucide-icon>
          <input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            class="form-input w-full h-16"
            placeholder="Contraseña"
            [ngClass]="{
              'form-input-error':
                password?.invalid && (password?.touched || password?.dirty)
            }"
          />
        </div>
        <div
          *ngIf="password?.invalid && (password?.touched || password?.dirty)"
          class="form-error-message"
        >
          <p *ngIf="password?.errors?.['required']">
            La contraseña es requerida
          </p>
          <p *ngIf="password?.errors?.['minlength']">
            La contraseña debe tener al menos 8 caracteres
          </p>
        </div>
      </div>
      <div
        class="flex items-center justify-between gap-2 mt-2 bg-on-surface rounded-2xl p-6"
      >
        <p class="text-sm text-black">Mostrar contraseña</p>
        <label class="relative inline-flex items-center cursor-pointer">
          <input
            type="checkbox"
            class="sr-only peer"
            (change)="togglePasswordVisibility()"
          />
          <div
            class="w-11 h-6 bg-gray-400 rounded-full peer peer-checked:bg-primary-key peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all"
          ></div>
        </label>
      </div>

      <div
        class="text-neutral-key font-medium flex flex-col justify-center items-center"
      >
        <span
          >¿Aún no tienes cuenta?
          <a
            appGoTo="register"
            class="text-primary-key underline cursor-pointer"
            >Regístrate</a
          ></span
        >
        <a appGoTo="email-verification" class="underline"
          >¿Olvidaste tu contraseña?</a
        >
      </div>

      <button
        (click)="onSubmit()"
        class="button button-primary w-full h-16"
        [disabled]="isLoading"
      >
        <span *ngIf="!isLoading">Iniciar sesión</span>
        <span *ngIf="isLoading" class="flex justify-center">
          <div
            class="animate-spin rounded-full h-6 w-6 border-4 border-primary-key border-t-transparent"
          ></div>
        </span>
      </button>
    </form>
  </div>
</div>
