<section class="p-0 h-full w-full bg-outline flex flex-col">
  <header class="flex flex-col gap-4 p-6">
    <div class="flex flex-col gap-3 text-background">
      <h1 class="text-5xl font-medium -translate-x-[2px]">Bienvenido</h1>
      <p class="text-xl">Hola, Mazapan</p>
    </div>
    <nav
      class="grid grid-cols-2 gap-4 [&>article]:p-6 [&>article]:box-border [&>article]:rounded-3xl [&>article]:flex [&>article]:flex-col [&>article]:gap-4 [&>article]:justify-center [&>article]:items-start [&>article]:hover:opacity-75 [&>article]:transition-all [&>article]:duration-300 [&>article]:cursor-pointer [&>article>h3]:text-xl [&>article>h3]:font-medium"
    >
      <article class="bg-primary text-background">
        <lucide-icon
          name="square-check"
          strokeWidth="3"
          size="36"
        ></lucide-icon>
        <h3 class="text-xl font-medium">Inventario</h3>
      </article>
      <article class="bg-background text-primary">
        <lucide-icon name="dollar-sign" strokeWidth="3" size="36"></lucide-icon>
        <h3 class="text-xl font-medium">Caja</h3>
      </article>

      <article class="bg-background text-primary">
        <lucide-icon
          name="chart-no-axes-column-increasing"
          strokeWidth="3"
          size="36"
        ></lucide-icon>
        <h3 class="text-xl font-medium">Reportes</h3>
      </article>
      <article class="bg-primary text-background">
        <lucide-icon name="settings" strokeWidth="3" size="36"></lucide-icon>
        <h3 class="text-xl font-medium">Ajustes</h3>
      </article>
    </nav>
  </header>
  <footer
    class="bg-white rounded-t-2xl flex-1 flex flex-col text-inverse-on-surface overflow-hidden"
  >
    <button
      class="w-full bg-transparent flex justify-center items-center"
      aria-label="Expandir notificaciones"
    >
      <lucide-icon name="minus" strokeWidth="3" size="36"></lucide-icon>
    </button>
    <section class="px-6 py-4 flex flex-col flex-1 overflow-hidden">
      <h2 class="text-xl mb-4">Notificaciones</h2>
      <ul class="overflow-y-auto flex-1 rounded-2xl">
        <li
          class="alert alert-info"
          *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          [ngClass]="`alert-${['info', 'success', 'warning', 'error'][i % 4]}`"
        >
          <article class="alert-content">
            <span>
              <lucide-icon
                class="alert-icon"
                name="bell"
                strokeWidth="3"
                size="20"
              ></lucide-icon>
            </span>
            <time class="alert-title"> 10:00 AM </time>
            <p class="alert-message">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </article>
        </li>
      </ul>
    </section>
  </footer>
</section>
