<section class="p-0 h-full w-full bg-outline flex flex-col">
  <header class="flex flex-col gap-4 p-6">
    <div class="flex flex-col gap-3 text-background">
      <h1 class="text-5xl font-medium -translate-x-[2px]">Bienvenido</h1>
      <p class="text-xl">Hola, {{ username }}</p>
    </div>
    <nav
      class="grid grid-cols-2 gap-4 [&>article]:p-6 [&>article]:box-border [&>article]:rounded-3xl [&>article]:flex [&>article]:flex-col [&>article]:gap-4 [&>article]:justify-center [&>article]:items-start [&>article]:hover:opacity-75 [&>article]:transition-all [&>article]:duration-300 [&>article]:cursor-pointer [&>article>h3]:text-xl [&>article>h3]:font-medium"
    >
      <article class="bg-primary text-background">
        <lucide-icon
          name="square-check"
          strokeWidth="3"
          size="36"
        ></lucide-icon>
        <h3 class="text-xl font-medium">Inventario</h3>
      </article>
      <article class="bg-background text-primary" routerLink="/home/pos">
        <lucide-icon name="dollar-sign" strokeWidth="3" size="36"></lucide-icon>
        <h3 class="text-xl font-medium">Pos</h3>
      </article>

      <article class="bg-background text-primary">
        <lucide-icon
          name="chart-no-axes-column-increasing"
          strokeWidth="3"
          size="36"
        ></lucide-icon>
        <h3 class="text-xl font-medium">Reportes</h3>
      </article>
      <article class="bg-primary text-background" routerLink="/settings">
        <lucide-icon name="settings" strokeWidth="3" size="36"></lucide-icon>
        <h3 class="text-xl font-medium">Ajustes</h3>
      </article>
    </nav>
  </header>
  <footer
    class="bg-white rounded-t-2xl flex-1 flex flex-col text-inverse-on-surface overflow-hidden"
  >
    <section class="px-6 py-4 flex flex-col flex-1 overflow-hidden">
      <div class="flex justify-between mb-4">
        <h2 class="text-xl">Notificaciones</h2>
        <div class="bg-outline p-2 rounded-full relative">
          <lucide-icon name="bell" strokeWidth="3" size="14"></lucide-icon>
          <span
            class="absolute -top-2 -right-2 bg-primary text-background text-xs rounded-full min-w-[20px] h-[20px] flex items-center justify-center"
          >
            {{ notificationTest.length }}
          </span>
        </div>
      </div>
      <ul
        class="overflow-y-auto flex-1 rounded-2xl snap-y snap-mandatory scroll-smooth"
        role="list"
        aria-live="polite"
      >
        <li
          class="snap-start alert alert-info h-full"
          *ngFor="let i of notificationTest"
          [ngClass]="`alert-${['info', 'success', 'warning', 'error'][i % 4]}`"
        >
          <article class="alert-content">
            <span>
              <lucide-icon
                class="alert-icon"
                name="bell"
                strokeWidth="3"
                size="20"
              ></lucide-icon>
            </span>
            <time class="alert-title"> 10:00 AM </time>
            <p class="alert-message">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </article>
        </li>
      </ul>
    </section>
  </footer>
</section>
