<div class="w-full p-6">
  <div class="card h-42 bg-primary-key mb-6">
    <div class="card-head">
      <div class="card-pin bg-red-400 text-sm">Restablecer contraseña</div>
    </div>
    <div class="card-body">
      <div class="card-title text-on-background">
        Crea una nueva contraseña para tu cuenta
      </div>
    </div>
  </div>

  <form [formGroup]="resetForm" class="flex flex-col gap-6">
    <div>
      <div class="form-group-icon mb-2">
        <lucide-icon class="icon text-on-background" name="lock"></lucide-icon>
        <input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          class="form-input w-full h-16"
          placeholder="Nueva contraseña"
          [ngClass]="{
            'form-input-error':
              password?.invalid && (password?.touched || password?.dirty)
          }"
        />
      </div>

      <div
        *ngIf="password?.invalid && (password?.touched || password?.dirty)"
        class="form-error-message"
      >
        <p *ngIf="password?.errors?.['required']">La contraseña es requerida</p>
        <p *ngIf="password?.errors?.['minlength']">
          La contraseña debe tener al menos 8 caracteres
        </p>
      </div>
    </div>

    <div>
      <div class="form-group-icon mb-2">
        <lucide-icon class="icon text-on-background" name="lock"></lucide-icon>
        <input
          formControlName="confirmPassword"
          [type]="showPassword ? 'text' : 'password'"
          class="form-input w-full h-16"
          placeholder="Confirmar contraseña"
          [ngClass]="{
            'form-input-error':
              confirmPassword?.invalid &&
              (confirmPassword?.touched || confirmPassword?.dirty)
          }"
        />
      </div>

      <div
        *ngIf="
          confirmPassword?.invalid &&
          (confirmPassword?.touched || confirmPassword?.dirty)
        "
        class="form-error-message"
      >
        <p *ngIf="confirmPassword?.errors?.['required']">
          La confirmación de la contraseña es requerida
        </p>
        <p *ngIf="confirmPassword?.errors?.['minlength']">
          La confirmación de la contraseña debe tener al menos 8 caracteres
        </p>
        <p *ngIf="confirmPassword?.errors?.['mustMatch']">
          Las contraseñas no coinciden
        </p>
      </div>
    </div>

    <div
      class="flex items-center justify-between gap-2 mt-2 bg-on-surface rounded-2xl p-6"
    >
      <p class="text-sm text-black">Mostrar contraseña</p>
      <label class="relative inline-flex items-center cursor-pointer">
        <input
          type="checkbox"
          class="sr-only peer"
          (change)="togglePasswordVisibility()"
        />
        <div
          class="w-11 h-6 bg-gray-400 rounded-full peer peer-checked:bg-primary-key peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all"
        ></div>
      </label>
    </div>

    <button
      (click)="onSubmit()"
      class="button button-primary w-full h-16"
      [disabled]="resetForm.invalid || isLoading"
    >
      <span *ngIf="!isLoading">Restablecer contraseña</span>
      <span *ngIf="isLoading" class="flex justify-center">
        <div
          class="animate-spin rounded-full h-6 w-6 border-4 border-primary-key border-t-transparent"
        ></div>
      </span>
    </button>
  </form>
</div>
