<section
  class="w-full h-full bg-on-surface flex flex-col justify-between pt-4 gap-4"
>
  <header class="w-full flex flex-col justify-center items-center gap-2 mb-4">
    <h1 class="text-background text-2xl font-medium">Punto de Venta</h1>
    <div
      class="h-1 w-1/4 rounded-full bg-linear-60 from-primary to-orange-300"
    ></div>
  </header>
  <nav class="w-full px-4">
    <ul class="grid grid-cols-3 grid-rows-1 gap-4">
      <li
        class="bg-primary text-background p-6 box-border rounded-3xl flex flex-col gap-4 justify-center items-start hover:opacity-75 transition-all duration-300 cursor-pointer active:bg-background active:text-primary"
        appGoTo="kitchen"
        [appHasRole]="['ADMIN', 'COOK', 'BAKER']"
      >
        <lucide-icon name="chef-hat" strokeWidth="3" size="36"></lucide-icon>
        <h3 class="text-xl font-medium">Cocina</h3>
      </li>
      <li
        class="bg-background text-primary p-6 box-border rounded-3xl flex flex-col gap-4 justify-center items-start hover:opacity-75 transition-all duration-300 cursor-pointer active:bg-primary active:text-background"
        (click)="navigateToTables()"
        [appHasRole]="['ADMIN', 'CASHIER', 'WAITER']"
      >
        <lucide-icon
          name="shopping-cart"
          strokeWidth="3"
          size="36"
        ></lucide-icon>
        <h3 class="text-xl font-medium">Ventas</h3>
      </li>

      <li
        class="bg-primary text-background p-6 box-border rounded-3xl flex flex-col gap-4 justify-center items-start hover:opacity-75 transition-all duration-300 cursor-pointer active:bg-background active:text-primary"
        appGoTo="cash-register"
        [appHasRole]="['ADMIN', 'CASHIER']"
      >
        <lucide-icon
          name="banknote-arrow-up"
          strokeWidth="3"
          size="36"
        ></lucide-icon>
        <h3 class="text-xl font-medium">Caja</h3>
      </li>
    </ul>
  </nav>
  <div
    class="sales-pulse mx-4 bg-outline rounded-3xl p-5 flex flex-col justify-center items-center"
  >
    <div *ngIf="todaySalesError" class="text-center text-on-error text-sm">
      {{ todaySalesError }}
    </div>
    <div class="w-full" *ngIf="!todaySalesError">
      <div class="flex justify-between items-center mb-2">
        <h2 class="text-gray-600 font-medium">Ventas totales</h2>
        <lucide-icon
          name="pie-chart"
          class="text-primary"
          size="32"
        ></lucide-icon>
      </div>
      <div class="flex items-end">
        <span class="text-3xl font-bold text-primary-key">{{
          todaySales?.totalSales | currency
        }}</span>
        <span
          class="ml-2 text-sm font-medium 0 flex items-center"
          [ngClass]="{
            'text-red-500': todaySales?.trendType === 'DOWN',
            'text-green-500': todaySales?.trendType === 'UP',
            'text-primary-key': todaySales?.trendType === 'STABLE'
          }"
        >
          <lucide-icon
            name="chevron-up"
            size="16"
            *ngIf="todaySales?.trendType === 'UP'"
          ></lucide-icon>
          <lucide-icon
            name="chevron-down"
            size="16"
            *ngIf="todaySales?.trendType === 'DOWN'"
          ></lucide-icon>
          {{ todaySales?.trendType === "DOWN" ? "baja" : "alta" }}
        </span>
      </div>
      <div class="mt-2 text-xs text-gray-500">
        {{ todaySales?.todaySales | number }} ventas hoy
      </div>
    </div>
  </div>

  <main
    class="rounded-t-2xl bg-white h-full box-border flex flex-col justify-between"
  >
    <div
      class="flex-1 px-6 py-8 flex flex-col items-center justify-center gap-8"
    >
      <div class="w-full flex flex-col justify-center items-center">
        <h3 class="font-regular text-sm">{{ currentDate }}</h3>
        <h1 class="font-bold text-2xl">{{ currentTime }}</h1>
      </div>
      <div class="flex justify-between w-full">
        <div class="flex text-sm justify-center items-center gap-1">
          Server:
          <span
            class="flex justify-center items-center gap-1"
            [ngClass]="{
              'text-red-400': !serverStatus,
              'text-green-400': serverStatus
            }"
            ><i-lucide name="circle-check-big" size="15"></i-lucide>
            {{ serverStatus ? "Conectado" : "Desconectado" }}</span
          >
        </div>
        <div class="flex text-sm justify-center items-center gap-1">
          Red:
          <span
            class="flex justify-center items-center gap-1"
            [ngClass]="{
              'text-red-400': !networkOnline,
              'text-green-400': networkOnline
            }"
            ><i-lucide name="wifi" size="15"></i-lucide>
            {{ networkOnline ? "Online" : "Offline" }}</span
          >
        </div>
      </div>
    </div>
    <footer class="w-full mb-4 px-4"></footer>
  </main>
</section>
