/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "./styles/theme.css";

body {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-bold);
}

.button {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-medium);
}

@import "./styles/components/button.css";
@import "./styles/components/icon.css";
@import "./styles/components/form.css";
@import "./styles/components/card.css";
