/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "./styles/theme.css";

body {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.disabled-by-role {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.disabled-by-role input,
.disabled-by-role textarea,
.disabled-by-role select,
.disabled-by-role button {
  pointer-events: none;
}

@import "./styles/components/button.css";
@import "./styles/components/icon.css";
@import "./styles/components/form.css";
@import "./styles/components/card.css";
@import "./styles/components/float.css";
@import "./styles/components/modal.css";
@import "./styles/components/notification.css";
